{
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": { "singleQuote": false }
    }
  ]
}
